body {
    text-align: center;
}

.obj:nth-child(even) {
    width: 100%;
    background-color: bisque;
}

.obj:nth-child(odd) {
    width: 100%;
    background-color: salmon;
}

.obj p {
    width: 50%;
    margin: 0;
    padding: 0;
}